# Configuración SMTP
SMTP_SERVER=mail.tudominio.com
SMTP_PORT=587
SMTP_USER=tu_email@tudominio.com
SMTP_PASSWORD=tu_contraseña_segura

# Configuración del correo
EMAIL_FROM_NAME=Tu Nombre
EMAIL_FROM_ADDRESS=email@tudominio.com
EMAIL_SUBJECT=Tu Asunto

# Archivos
MAIL_LIST_FILE=mails.txt
HTML_TEMPLATE_FILE=app.html

# Configuración de envío
BATCH_SIZE=50
BATCH_DELAY_SECONDS=30

