# Variables de entorno
.env
.env.local
.env.*.local


# Logs y resultados
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db

# emails
emails

# contactos
contactos

#claude
.claude
CLAUDE.md
REDME.txt



