<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
    />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body class="bg-gray-50 font-sans">
    <div class="relative flex flex-col min-h-screen bg-slate-50 overflow-x-hidden" style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'>
      <div class="flex flex-1 justify-center py-5">
        <div class="w-full max-w-screen-sm sm:max-w-3xl px-4 sm:px-8 py-6 bg-white rounded-lg shadow-lg">
          
         <p class="text-[#0e141b] text-base sm:text-lg font-normal leading-relaxed pb-3 pt-1">
        Hi. <br><br> We’re <a href="https://esimjourney.com"><strong>eSimJourney.com</strong></a>, your new partner for staying connected while traveling. 🌍✈️ <br><br>
        We offer an easy and affordable solution to say goodbye to physical SIM cards and enjoy seamless internet access no matter where you are in the world.
        </p>

        <p class="text-[#0e141b] text-base sm:text-lg font-normal leading-relaxed pb-3 pt-1">
        We’d love to collaborate with you and offer your followers a <strong>5% discount</strong> on our eSIMs. Plus, you’ll earn a <strong>20% commission</strong> for every sale you generate! 💰
        </p>

        <p class="text-[#0e141b] text-base sm:text-lg font-normal leading-relaxed pb-3 pt-1">
        <strong>We offer you a free eSIM</strong> to try out our service and share your experience with your community. Or if you prefer, <strong>let us know when your next trip is coming up</strong> and we’ll send it your way so you can enjoy it during your adventure. 🚀
        </p>

        <p class="text-[#0e141b] text-base sm:text-lg font-normal leading-relaxed pb-3 pt-1">
        <strong>We can also offer you your own custom-branded eSIMs</strong>, fully personalized and ready to share with your followers. 🌟
        </p>

        <p class="text-[#0e141b] text-base sm:text-lg font-normal leading-relaxed pb-6 pt-3">
        <strong>What do you think?</strong> We’re sure this collaboration will be a hit. <br><br>Looking forward to hearing from you and providing more details! 🙌 <br><br> Regards!
        </p>
        <a href="https://esimjourney.com">eSimJourney.com</a>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>